<div th:fragment="DatosDeCuenta" id="DatosDeCuenta" >
<link rel="stylesheet" type="text/css" href="static/css/card.css" th:href="@{/css/card.css}">
<div class="content" style="margin-top:30px">
          <div class="container-fluid">

                  <div class="row">
                          <div class="col-md-8 ">
                              <div class="card  pl-2 pr-2 pt-2" >
                                      <div class="header">
                                              <h4 class="title my-3"><strong>Datos Generales</strong></h4>
                                      </div>
                                      <div class="container">
                                          
                                          <form>

                                              <div class="row mt-2">

                                                      <div class="col-md-6">
                                                              <div class="form-group">
                                                                  <label >Nombres</label>
                                                                  <input readonly="readonly" th:value="${nombres}" type="text" class="form-control" placeholder="Nombres">
                                                              </div>
                                                          </div>
  
                                                          <div class="col-md-6">
                                                              <div class="form-group">
                                                                  <label>Apellidos</label>
                                                                  <input readonly="readonly" th:value="${apellidos}" type="text" class="form-control" placeholder="Apellidos">
                                                              </div>
                                                          </div>

                                              </div>

                                              <div class="row">

                                                          <div class="col-md-6">
                                                              <div class="form-group">
                                                                  <label>Email Address</label>
                                                                  <input readonly="readonly" th:value="${email}" type="email" class="form-control" placeholder="Email">
                                                              </div>
                                                          </div>
                                                          
                                                           <div class="col-md-6">
		                                                      <div class="form-group">
		                                                          <label>Usuario</label>
		                                                          <input readonly="readonly" th:value="${usuario}" type="text" class="form-control" placeholder="Usuario">
		                                                      </div>
		                                                  </div>
                                              </div>
                                                 
                                                 
	                                      <div class="row">
	                                      
												<div class="col-12">
												<button type="submit" disabled="disabled" class="btn btn-info btn-fill float-right mb-3 mt-2 ">Actualizar mi perfil</button>
												</div>
	                                           
	                                                  
	                                      </div>
                                             
                                          
                                      </div>

                                     
                              </div>
                          </div>

                          <div class="col-md-4" >

                                  <div class="card card-user" >
                                      <div class="image">
                                          <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                                      </div>
                                      <div class="content">
                                          <div class="author">
                                               <a href="#">
                                              <img class="avatar border-gray" src="../images/face-0.jpg" alt="..."/>
                                              </a>
                                              <h4 th:text="${nombreCompleto}" class="title"></h4><br />
                                              <h5 th:text="${email}"></h5>
                                          </div> 
                                      </div>
                                  </div>
                              </div>

                  </div>
              </div>
      </div>



</div>
